<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
        in xml some characters are special and should be replaced by their html variant
        & is written as &amp;
        < is written as &lt;
        > is written as &gt;
        " is written as &quot;
        -->
    <!-- in: retrieves e-mails; exports attachments; archives e-mail; deletes e-mails on server -->
    <!-- out: sends e-mail; archives files -->
    <add key="method" value="out" />
    <!-- work folder where the files reside -->
    <!-- method = in > the attachments are stored here -->
    <!-- method = out > the files in this folder are sent as attachments -->
    <!-- note that the user in the task scheduler has permissions in this folder -->
    <add key="path" value="C:\EncryptedEmailBridge" />
    <!-- only files with this extension are mailed; * mails all files -->
    <add key="extension" value="*" />
    <!-- mail server address -->
    <!-- method = in > incoming (pop3) mail server -->
    <!-- method = out > outgoing (smtp) mail server -->
    <add key="server" value="" />
    <!-- port mail server -->
    <add key="port" value="587" />
    <!-- encryption default: ssl / starttls / none -->
    <add key="portEncryption" value="starttls" />
    <!-- username for the mail server -->
    <add key="username" value="" />
    <!-- password for the mail server -->
    <add key="password" value="" />
    <!-- sender email address -->
    <!-- with most mail servers, this must be equal to mail server username -->
    <add key="sender" value="" />
    <!-- recipient email address -->
    <add key="recipient" value="" />
    <!-- encryption password AES256 -->
    <!-- recipient must have the same -->
    <!-- e.g. b46140976a3e4612b4ce40a54588e8da6b9b9dc8c61c4658b7294443915a344a631d10066f7d474b929a545d39590cca -->
    <add key="secret" value="" />
    <!-- number of days to keep log files -->
    <add key="history" value="30" />
    <!-- cleanup log files: true / false -->
    <add key="cleanupLog" value="true" />
    <!-- cleanup sent files: true / false -->
    <add key="cleanupArchive" value="false" />
    <!-- application version (do not change) -->
    <add key="version" value="1.2.1.0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>